/* General Styles */
body,
html {
    font-family: "Kanit", sans-serif;
    color: #333;
    background-color: #c0bcbc;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Content Styling */
.content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1,
h2,
h3 {
    text-align: center;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 3px 3px 13px whitesmoke;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    font-size: small;
    font-family: "kantos";
    color: #555;
    border: 1px solid #333;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 5px;
}

p {
    font-size: x-large;
    text-align: center;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Form Styling */
form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px 14px 8px rgba(238, 247, 2, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;

}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group .input-group {
    display: flex;
    gap: 10px;
}

.form-group .input-group input {
    flex: 1;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

/* Display Sections */
#macrosDisplay,
#mealPlanDisplay {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

/* Kanit Font Weights */
.kanit-thin {
    font-weight: 100;
}

.kanit-extralight {
    font-weight: 200;
}

.kanit-light {
    font-weight: 300;
}

.kanit-regular {
    font-weight: 400;
}

.kanit-medium {
    font-weight: 500;
}

.kanit-semibold {
    font-weight: 600;
}

.kanit-bold {
    font-weight: 700;
}

.kanit-extrabold {
    font-weight: 800;
}

.kanit-black {
    font-weight: 900;
}

.kanit-thin-italic {
    font-weight: 100;
    font-style: italic;
}

.kanit-extralight-italic {
    font-weight: 200;
    font-style: italic;
}

.kanit-light-italic {
    font-weight: 300;
    font-style: italic;
}

.kanit-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.kanit-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.kanit-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.kanit-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold-italic {
    font-weight: 800;
    font-style: italic;
}

.kanit-black-italic {
    font-weight: 900;
    font-style: italic;
}